.react-form-builder .react-form-builder-toolbar ul li:nth-child(4) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(6) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(14) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(15) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(16) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(18) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(20) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(21) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(22) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar ul li:nth-child(23) {
  display: none;
}
.react-form-builder .react-form-builder-toolbar h4 {
  margin-top: 6px;
  color: transparent;
  text-align: center;
}
.react-form-builder .react-form-builder-preview.is-editing .edit-form {
  right: 0 !important;
  left: unset !important;
}
.react-form-builder .react-form-builder-preview .edit-form {
  left: unset !important;
  right: -1000px !important;
}
